### used the weather data that we made from class

In [64]:
import pandas as pd

df = pd.read_csv("CleanData.csv",header=0)
print(df)

           DATE  PRCP  SNWD  SNOW  TAVG  TMAX  TMIN  TOBS
0      19480101  1.17   0.0   0.7 -9999    62    26 -9999
1      19480102  0.00   0.0   0.0 -9999    31    27 -9999
2      19480103  0.00   0.0   0.0 -9999    38    23 -9999
3      19480104  0.07   0.0   0.0 -9999    37    32 -9999
4      19480105  0.00   0.0   0.0 -9999    42    28 -9999
...         ...   ...   ...   ...   ...   ...   ...   ...
27024  20211227  0.00   0.0   0.0    62    72    48 -9999
27025  20211228  0.48   0.0   0.0    51    66    43 -9999
27026  20211229  0.09   0.0   0.0    48    51    39 -9999
27027  20211230  0.00   0.0   0.0    46    49    44 -9999
27028  20211231  0.21   0.0   0.0    53    66    49 -9999

[27029 rows x 8 columns]

# Cleaning the data

In [65]:
try:
    print(df['TOBS'].unique())
    #since TOBS data is filled with mostly bad or useless data we can drop the row
    del df['TOBS']
except:
    print()
#https://stackoverflow.com/questions/39217347/how-to-split-number-to-separate-columns-in-pandas-dataframe
#Thanks Brandon for sending me the link
# make string version of original column, call it 'DATES'
df['DATES'] = df['DATE'].astype(str)
# make the new columns using string indexing
df['YEAR'] = df['DATES'].str[:4]
df['MONTH'] = df['DATES'].str[4:6]
df['DAY'] = df['DATES'].str[6:8]
del df['DATE']
del df['DATES']

df['TAVG'] = df['TAVG'].replace(-9999,"")
df['TAVG'] = pd.to_numeric(df['TAVG'],errors='coerce')
#research how to drop a column in Pandas.... hint you will use the word drop

[-9999     0]
       PRCP  SNWD  SNOW  TAVG  TMAX  TMIN  YEAR MONTH DAY
0      1.17   0.0   0.7   NaN    62    26  1948    01  01
1      0.00   0.0   0.0   NaN    31    27  1948    01  02
2      0.00   0.0   0.0   NaN    38    23  1948    01  03
3      0.07   0.0   0.0   NaN    37    32  1948    01  04
4      0.00   0.0   0.0   NaN    42    28  1948    01  05
...     ...   ...   ...   ...   ...   ...   ...   ...  ..
27024  0.00   0.0   0.0  62.0    72    48  2021    12  27
27025  0.48   0.0   0.0  51.0    66    43  2021    12  28
27026  0.09   0.0   0.0  48.0    51    39  2021    12  29
27027  0.00   0.0   0.0  46.0    49    44  2021    12  30
27028  0.21   0.0   0.0  53.0    66    49  2021    12  31

[27029 rows x 9 columns]