In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Twitch_2018.csv",header=0)
print(df)

                                         Game Title   January  February  \
0                             007: Agent Under Fire  109987.0       NaN
1                                       60 Parsecs!       NaN       NaN
2                                       60 Seconds!   17611.0    6505.0
3                                  7 Billion Humans       NaN       NaN
4                                     7 Days to Die    3765.0    4777.0
...                                             ...       ...       ...
1533                Zelda II: The Adventure of Link       NaN       NaN
1534              Zero Escape: Virtue's Last Reward       NaN       NaN
1535                              Zero Time Dilemma       NaN       NaN
1536  Zettai Zetsumei Toshi 4 Plus: Summer Memories       NaN       NaN
1537             Zone of the Enders: The 2nd Runner  107214.0       NaN

        March   April     May    June    July   August  September  October  \
0         NaN     NaN     NaN     NaN     NaN      NaN        NaN      NaN
1         NaN     NaN     NaN     NaN     NaN      NaN    31960.0      NaN
2     32289.0  6138.0  9110.0     NaN     NaN  18245.0        NaN      NaN
3         NaN     NaN     NaN     NaN     NaN   5487.0        NaN      NaN
4      1889.0  8754.0  7885.0  3807.0  3218.0   6816.0     2131.0   1860.0
...       ...     ...     ...     ...     ...      ...        ...      ...
1533   2790.0     NaN     NaN     NaN     NaN      NaN        NaN      NaN
1534   5548.0  3970.0     NaN     NaN  4133.0      NaN        NaN      NaN
1535   6397.0     NaN     NaN     NaN     NaN      NaN        NaN      NaN
1536      NaN     NaN     NaN     NaN     NaN      NaN        NaN      NaN
1537      NaN     NaN     NaN     NaN     NaN      NaN        NaN      NaN

      November  December
0          NaN       NaN
1          NaN   15473.0
2          NaN       NaN
3          NaN       NaN
4       8877.0   25079.0
...        ...       ...
1533    6607.0       NaN
1534       NaN       NaN
1535       NaN       NaN
1536    8453.0       NaN
1537       NaN       NaN

[1538 rows x 13 columns]